---
import Layout from '../layouts/Layout.astro';
import BlogPost from '../components/BlogPost.astro';
const pageTitle = "Blog";

// Remove or comment out the glob and related code since there are no posts yet
// const allPosts = await Astro.glob('../pages/posts/*.md');
// const sortedPosts = ...

---
<Layout pageTitle={pageTitle}>
    <h2 class="center">Posts</h2>
    <div class="coming-soon">
        <p>Coming Soon!</p>
    </div>
</Layout>

<style>
    .coming-soon {
        text-align: center;
        padding: 4rem 1rem;
        font-size: 1.2rem;
    }
</style>
