---
import { getCollection } from "astro:content";
import Layout from '../layouts/Layout.astro';
import BlogPost from '../components/BlogPost.astro';

const allPosts = await getCollection("blog");
const visiblePosts = allPosts.filter(post => !post.data.hidden);
const sortedPosts = visiblePosts.sort((a, b) => 
  new Date(b.data.pubDate).valueOf() - new Date(a.data.pubDate).valueOf()
);
const pageTitle = "Blog";
---
<Layout pageTitle={pageTitle}>
    <h2 class="center">Blog Posts</h2>
    <ul class="posts-list">
        {sortedPosts.map((post) => (
            <BlogPost 
                url={`/blog/${post.slug}/`}
                title={post.data.title}
                pubDate={new Date(post.data.pubDate).toLocaleDateString('en-US', {
                    year: 'numeric',
                    month: 'long',
                    day: 'numeric'
                })}
                slug={post.slug}
            />
        ))}
    </ul>
</Layout>

<style>
    .posts-list {
        list-style-type: none;
        padding: 0;
    }
</style>
