---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import BlogPosts from '../components/BlogPosts.astro';
import CrescentDreams from '../components/CrescentDreams.astro';
import Miscellaneous from '../components/Miscellaneous.astro';
import SoftwareProjects from '../components/SoftwareProjects.astro';
import ThreeDem from '../components/ThreeDem.astro';
import VideoContent from '../components/VideoContent.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout title="tenseicho">
	<main>
		<Header />
		<ThreeDem />
		<BlogPosts />
		<CrescentDreams />
		<Miscellaneous />
		<SoftwareProjects />
		<VideoContent />
	</main>
</Layout>

<style>
	main {
		width: 100%;
		max-width: 1200px;
		margin: 0 auto;
	}
</style>
