---
import Layout from '../layouts/Layout.astro';
const pageTitle = "Tensei-Cho";
---
<Layout pageTitle={pageTitle}>
    <div class="gif">
        <img width="300" height="259" alt="RaccoonSpaceGif" src="/space.webp"/>
    </div>
    <h1>TenseiCho</h1>
    <span class="badge">Software Engineer</span>
    <span class="badge">3D Artist</span>
    <span class="badge">YouTuber</span>
    <span class="badge">Gamer</span>
    <h2>About</h2>
    <p>
        I'm just a guy on a journey of self-improvement. After earning my Associate's in Computer Programming, I realized that the best way to land a job in this field is by creating cool projects and networking. So, I'm diving headfirst into developing projects I'm passionate about and sharing them with the world—whether it's through YouTube, GitHub, or Artstation. My focus? Creating stuff that not only excites me but also passes the vibe check.
    </p>
    <p>
        Beyond the world of software, I've found joy in unexpected places. Pickleball has become my new obsession, chess challenges my strategic thinking, and the piano allows me to express myself musically. While I'm still honing these skills, I approach them with the same enthusiasm I bring to my longtime loves: anime, video games, and manga.
    </p>
    <p>
        One of my greatest joys is connecting with new people. My early 20s were spent exploring Discord communities, which played a crucial role in my journey of self-discovery. These experiences have shaped my biggest life goals: to meet a diverse array of people, improve my physical health, and cultivate a balanced, fulfilling life.
    </p>
    <p>
        I'm excited about the road ahead and the connections I'll make along the way. Whether you're into coding, pickleball, or just good conversation, I'm always up for new friendships and collaborations. Let's create something awesome together!
    </p>
    <div class="center">
        <a href="/projects/">
            <button class="btn">My portfolio</button>
        </a>
    </div>
    <h2>Skills</h2>
    <div class="skills center">
        <img class="skills__img" width="46" height="46" alt="Python" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/python/python-original.svg"/>
        <img class="skills__img" width="46" height="46" alt="Flutter" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/flutter/flutter-original.svg"/>
        <img class="skills__img" width="46" height="46" alt="Astro" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/astro/astro-original.svg"/>
        <img class="skills__img" width="46" height="46" alt="Kotlin" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/kotlin/kotlin-original.svg"/>
        <img class="skills__img" width="46" height="46" alt="C#" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/csharp/csharp-original.svg"/>
        <img class="skills__img" width="46" height="46" alt="CSS" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/css3/css3-original.svg"/>
        <img class="skills__img" width="46" height="46" alt="HTML" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/html5/html5-original.svg"/>
        <img class="skills__img" width="46" height="46" alt="JavaScript" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/javascript/javascript-original.svg"/>
        <img class="skills__img" width="46" height="46" alt="Git" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/git/git-original.svg"/>
    </div>
</Layout>

