---
import Layout from '../layouts/Layout.astro';
const pageTitle = "Tensei-Cho";
---
<Layout pageTitle={pageTitle}>
    <div class="gif">
        <img width="300" height="259" alt="RaccoonSpaceGif" src="/space.webp"/>
    </div>
    <h1>TenseiCho</h1>
    <span class="badge">Software Engineer</span>
    <span class="badge">3D Artist</span>
    <span class="badge">YouTuber</span>
    <span class="badge">Gamer</span>
    <h2>About</h2>
    <p>
        I am a just a guy who wants to better himself. After getting my Associates in Computer Programming, I realized the best way to get a job was really just making cool stuff & networking.
        So in that regard, I am currently creating projects that I love and sharing them with the world. Even if that's YouTube, GitHub or through Artstation.
        I am all about creating stuff I enjoy and that I think passes the vibe check.
    </p>
    <p>
        Outside of software, I really enjoy playing pickleball, chess and piano. I wouldn't go as far as to say I am good at them though. 
        However, I love anime, video games & manga.
        I am a huge fan of meeting new people as well. I spent most of my early 20s hanging out on Discord
        and discovering myself in the process. 
    </p>
    <p>
        My biggest goal in life is to meet all kinds of new people, get in better shape & live a healthy life.
    </p>
    <div class="center">
        <a href="/works/">
            <button class="btn">My portfolio</button>
        </a>
    </div>
    <h2>Skills</h2>
    <div class="skills center">
        <img class="skills__img" width="46" height="46" alt="Python" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/python/python-original.svg"/>
        <img class="skills__img" width="46" height="46" alt="Flutter" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/flutter/flutter-original.svg"/>
        <img class="skills__img" width="46" height="46" alt="Astro" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/astro/astro-original.svg"/>
        <img class="skills__img" width="46" height="46" alt="Kotlin" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/kotlin/kotlin-original.svg"/>
        <img class="skills__img" width="46" height="46" alt="C#" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/csharp/csharp-original.svg"/>
        <img class="skills__img" width="46" height="46" alt="CSS" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/css3/css3-original.svg"/>
        <img class="skills__img" width="46" height="46" alt="HTML" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/html5/html5-original.svg"/>
        <img class="skills__img" width="46" height="46" alt="JavaScript" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/javascript/javascript-original.svg"/>
        <img class="skills__img" width="46" height="46" alt="Git" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/git/git-original.svg"/>
    </div>
</Layout>

