---
import Layout from '../layouts/Layout.astro';
import { Image } from 'astro:assets';
import butterflyImage from '/public/butterfly.png';
const pageTitle = "TenseiCho";
---
<Layout pageTitle={pageTitle}>
    <div class="gif">
        <Image width={300} height={259} alt="ButterflyImage" src={butterflyImage} loading="eager"/>
    </div>
    <h1 class="center">TenseiCho</h1>
    <div class="center">
        <span class="badge">3D Artist</span>
        <span class="badge">Software Engineer</span>
        <span class="badge">YouTuber</span>
    </div>
    <h2 class="center">About</h2>
    <p>
        I'm just a guy on a journey of self-improvement. 
        I'm diving headfirst into developing projects I'm passionate about and sharing them with the world. 
        Whether it's through YouTube, GitHub or Sketchfab. 
        My focus? Creating stuff that not only excites me but also passes the vibe check.
    </p>
    <p>
        Beyond the world of software, I've found joy in unexpected places. 
        Chess has become my new obsession as it challenges my strategic thinking.
        I'm also learning Chinese, it's very hard but I enjoy it.
    </p>
    <p>
        I'm excited about the road ahead. Can't wait to see where it takes me.
        Whether you're into coding, video games or just good conversation, I'm always up for new friendships and collaborations. 
        Let's create something awesome together!
    </p>
    <div class="center">
        <a href="/models/">
            <button class="btn">Models</button>
        </a>
        <a href="/projects/">
            <button class="btn">Software</button>
        </a>
        <a href="/videos/">
            <button class="btn">Videos</button>
        </a>
    </div>
    <h2 class="center">Skills</h2>
    <div class="skills center">
        <Image class="skills__img" width={46} height={46} alt="Python" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/python/python-original.svg"/>
        <Image class="skills__img" width={46} height={46} alt="Flutter" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/flutter/flutter-original.svg"/>
        <Image class="skills__img" width={46} height={46} alt="Astro" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/astro/astro-original.svg"/>
        <Image class="skills__img" width={46} height={46} alt="Kotlin" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/kotlin/kotlin-original.svg"/>
        <Image class="skills__img" width={46} height={46} alt="C#" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/csharp/csharp-original.svg"/>
        <Image class="skills__img" width={46} height={46} alt="CSS" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/css3/css3-original.svg"/>
        <Image class="skills__img" width={46} height={46} alt="HTML" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/html5/html5-original.svg"/>
        <Image class="skills__img" width={46} height={46} alt="JavaScript" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/javascript/javascript-original.svg"/>
        <Image class="skills__img" width={46} height={46} alt="Git" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/git/git-original.svg"/>
    </div>
</Layout>
