---
import Layout from '../layouts/Layout.astro';
import { Image } from 'astro:assets';
import butterflyImage from '/public/butterfly.png';
const pageTitle = "TenseiCho";
---
<Layout pageTitle={pageTitle}>
    <div class="gif">
        <Image width={300} height={259} alt="ButterflyImage" src={butterflyImage} loading="eager"/>
    </div>
    <h1 class="center">TenseiCho</h1>
    <div class="center">
        <span class="badge">3D Artist</span>
        <span class="badge">Software Engineer</span>
        <span class="badge">Video Editor</span>
    </div>
    <h2 class="center">About</h2>
    <p class="center">
        A man who drove out to the Pacific Northwest to restart life.
    </p>
    <p class="center">
        Still figuring out what I want to do with my life.
    </p>
    <p class="center">
        I do look forward to the future.
    </p>
    <div class="center">
        <a href="/models/">
            <button class="btn">Models</button>
        </a>
        <a href="/projects/">
            <button class="btn">Software</button>
        </a>
        <a href="/videos/">
            <button class="btn">Videos</button>
        </a>
    </div>
    <h2 class="center">Skills</h2>
    <div class="skills center">
        <Image class="skills__img" width={46} height={46} alt="Python" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/python/python-original.svg"/>
        <Image class="skills__img" width={46} height={46} alt="Flutter" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/flutter/flutter-original.svg"/>
        <Image class="skills__img" width={46} height={46} alt="Astro" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/astro/astro-original.svg"/>
        <Image class="skills__img" width={46} height={46} alt="Blender" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/blender/blender-original.svg"/>
        <Image class="skills__img" width={46} height={46} alt="Unreal Engine" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/unrealengine/unrealengine-original.svg"/>
        <Image class="skills__img" width={46} height={46} alt="GoLang" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/go/go-original-wordmark.svg"/>
        <Image class="skills__img" width={46} height={46} alt="JavaScript" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/javascript/javascript-original.svg"/>
        <Image class="skills__img" width={46} height={46} alt="Git" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/git/git-original.svg"/>
    </div>
</Layout>
