---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Models - Coming Soon">
    <main class="coming-soon-container">
        <p class="coming-soon-text">Coming Soon</p>
    </main>
</Layout>

<style>
    .coming-soon-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .coming-soon-text {
        font-weight: bold;
        font-size: 2rem;
        text-align: center;
    }
</style>