---
import ThemeIcon from './ThemeIcon.astro';
---
<div class="navbar">
    <div class="navbar__content">
        <div class="navbar__title">
            <a href="/">TenseiCho</a>
        </div>
        <div class="navbar__menu">
            <a href="/blog/">Blog</a>
            <a href="/models/">Models</a>
            <a href="/projects/">Projects</a>
            <ThemeIcon />
        </div>
    </div>
</div>