---

import Layout from './Layout.astro';
import LikeButton from '../components/LikeButton.astro';

const { frontmatter } = Astro.props;

---

<Layout pageTitle={frontmatter.title}>

    <h1>{frontmatter.title}</h1>

    <p>Published on: {new Date(frontmatter.pubDate).toLocaleString('en-US', {

        year: 'numeric',

        month: 'long',

        day: 'numeric',

        timeZone: 'America/Los_Angeles'

    })}</p>



    <slot />

    <LikeButton postSlug={frontmatter.title.replace(/['"]/g, '').toLowerCase().replace(/\s+/g, '-')} />

</Layout>